.input-knob-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.input-knob-container h3 {
    margin-bottom: 10px;
    user-select: none;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-knob {
    position: relative;
    width: 80px;
    height: 80px;
}

.input-knob span,
.input-knob input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #fff;
    border: none;
    background: none;
    font-size: 20px;
    user-select: none;
}

.input-knob span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-knob input::-webkit-outer-spin-button,
.input-knob input::-webkit-inner-spin-button,
.input-knob .hidden {
    display: none;
}